extends ../layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .navbar-brand New Book
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/books') Back 
    
    .container
        br
        form(action='/books/create', method='post')
            input(type='text', name='nameBook', value='', placeholder='Name Book')
            input(type='submit', value='Submit')