extends ../layout

block content    
    .container.pt-5
        h2 Add book
        form.form-group(action='/books/create', method='post', style='width:350px')
            .form-group
                label Title
                input.form-control(type='text', name='title', value='')
            .form-group
                label Description
                input.form-control(type='text', name='description', value='')
            button.btn.btn-success.mt-3(type='submit') Add