extends ../layout

block content

    .container.pt-5
        h2 Update book
        form.form-group(action=`/books/${book.id}/update`, method='post', style="width:350px")
            .form-group
                label New title
                input.form-control(type='text', name='title', value= book.title)
            .form-group
                label New description
                input.form-control(type='text', name='description', value= book.description)
            .form-group
                input.btn.btn-success(type='submit', value='Save')