extends ../layout

block content
    .container.pt-5
        h1 List of shop

        //- form.form-inline(action='/transactions/search', method='get')
        //-     input.form-control.mr-2(type='text', name='name', placeholder='Search transaction')
        //-     input.btn.btn-primary.mr-2(type='submit', value='Search')
        //-     a.btn.btn-success(href='transactions/create') Add
        //- br
        table.table.table-bordered.text-center(style='width:100%')
            tr
                th 
                th Shop name
                th 
            - var i=1;
            each shop in shops
                tr
                    td= i++
                    td=shop.name
                    td
                        a.btn.btn-primary(href=`/shop/${shop.id}`) Go