doctype html
html
    head
        title=`Shop ${shop.name}`
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/style.css')
    body
        nav.navbar-expand-lg.navbar.navbar-dark.bg-dark
            .container
                a.navbar-brand(href=`/shop/${shop.id}`)=shop.name
                button.navbar-toggler("navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRes")
                    span.navbar-toggler-icon
                #navbarRes.collapse.navbar-collapse
                    ul.navbar-nav.mx-auto
                        li.nav-item
                            a.nav-link(href=`/shop/books`) Books
                        li.nav-item
                            a.nav-link(href=`/shop/transactions`) Transactions
                    a.btn.btn-secondary(href='/shop/auth/logout') Logout

    block content

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
