extends ../layout

block content
    a(href='/users') Back
    br
    br
    form(action='/users/create', method='post')
        input(type='text', name='name', placeholder='New user')
        input(type='submit', value='Submit')