extends ../layout

block content

    .container.pt-5
        h2 Profile user
        form.form-group(action=`/users/${user.id}/profile`, method='post', style="width:350px", enctype="multipart/form-data")      
            .form-group    
                img(src=user.avatar || '/images/default-avatar.jpg', alt="", style='width:200px; height:200px')
            .form-group
                input.form-control-file(type='file', name='avatar')
            .form-group
                label Name:
                input.form-control(type='text', name='name', value= user.name)
            .form-group
                label Email: 
                input.form-control(type='email', name='email', value= user.email)
            .form-group
                input.btn.btn-success(type='submit', value='Save')