extends ../layout

block content
    .container.pt-5
        h1 Create a new transaction
        
        br
        form.form-group(action='/transactions/create', method='post', style='width:350px')
            .form-group
                label Users
                select.form-control(name='userId')
                    each user in users
                        option(value=user.id)=user.name 
                        label User 
            .form-group    
                label Books
                select.form-control(name='bookId')
                    each book in books
                        option(value=book.id)=book.title
            input.btn.btn-success(type='submit', value="Create")
